auth_enabled: false

server:
  http_listen_port: 3100
  grpc_listen_port: 9096
  log_level: warn
  log_format: json
  http_server_read_timeout: 20s
  http_server_write_timeout: 20s

common:
  instance_addr: 127.0.0.1
  path_prefix: /loki
  storage:
    filesystem:
      chunks_directory: /tmp/loki/chunks
      rules_directory: /tmp/loki/rules
  replication_factor: 1
  ring:
    kvstore:
      store: inmemory

ingester:
  lifecycler:
    address: 127.0.0.1
    ring:
      kvstore:
        store: inmemory
      replication_factor: 1
    final_sleep: 0s
  chunk_encoding: none
  chunk_idle_period: 1m
  chunk_retain_period: 10s
  wal:
    enabled: false
  concurrent_flushes: 8
  max_chunk_age: 30m

distributor:
  ring:
    kvstore:
      store: inmemory

frontend:
  max_outstanding_per_tenant: 128
  compress_responses: false

query_scheduler:
  max_outstanding_requests_per_tenant: 128

querier:
  max_concurrent: 8
  tail_max_duration: 30m
  extra_query_delay: 0s

schema_config:
  configs:
    - from: 2020-10-24
      store: tsdb
      object_store: filesystem
      schema: v13
      index:
        prefix: index_
        period: 24h

ruler:
  storage:
    type: local
    local:
      directory: /tmp/loki/rules
  rule_path: /tmp/scratch
  ring:
    kvstore:
      store: inmemory
  enable_api: false
  enable_sharding: false

analytics:
  reporting_enabled: false

limits_config:
  ingestion_rate_mb: 32
  ingestion_burst_size_mb: 64
  max_streams_per_user: 5000
  max_line_size: 128KB
  max_entries_limit_per_query: 2500
  
  max_query_length: 24h
  max_query_parallelism: 16
  max_query_series: 250
  
  retention_period: 1h
  
  max_concurrent_tail_requests: 5
  max_cache_freshness_per_query: 5m
  
  reject_old_samples: true
  reject_old_samples_max_age: 24h
  
  creation_grace_period: 5m
  unordered_writes: false

compactor:
  working_directory: /tmp/loki/retention
  compaction_interval: 5m
  retention_enabled: true
  retention_delete_delay: 10m
  retention_delete_worker_count: 50
  delete_request_store: filesystem


storage_config:
  filesystem:
    directory: /tmp/loki/chunks
  tsdb_shipper:
    active_index_directory: /tmp/loki/tsdb-index
    cache_location: /tmp/loki/tsdb-cache
    cache_ttl: 12h

chunk_store_config:
  chunk_cache_config:

query_range:
  results_cache:
    cache:
  cache_results: false
  max_retries: 3


tracing:
  enabled: false
